services:
  app:
    image: node:alpine
    entrypoint: /bin/sh
    command:
      - -c
      - |
        echo '
        console.log("it is something");
        setInterval(() => document.querySelector("ul").innerHTML += `<li>$${Date.now()}</li>`, 1500);
        ' > index.js
        npx -q esbuild index.js --bundle --serve=80

  echo:
    image: node:alpine
    command:
      - -e
      - |
        require("http").createServer((req,res) => {
          const {query, pathname, path} = require("url").parse(req.url, true);
          res.end(JSON.stringify({query,pathname,path,now: Date.now()}));
          return;
        }).listen(80);

  nginx:
    image: nginx:alpine
    entrypoint: /bin/sh
    command:
      - -c
      - |
        echo '
          <h1>OHA</h1>
          <ul></ul>
          <script src="index.js"></script>
        ' > /index.html

        echo '
          server {
            listen       80;

            location / {
                root   /;
                index  index.html;
            }

            location /index.js {
              proxy_pass http://app;
            }

            location /echo {
              proxy_pass http://echo;
            }
          }
        ' > /etc/nginx/conf.d/default.conf
        nginx -T && nginx -g 'daemon off;'
    ports:
      - '3000:80'
