services:
  app:
    image: node:alpine
    entrypoint: /bin/sh
    command:
      - -c
      - |
        echo '
          console.log("it is something");
          setInterval(() => document.querySelector("#client").innerHTML = `<p>$${Date.now()}</p>`, 1500);
          setInterval(() => {
            fetch("/echo/foo/bar").then(x => x.json()).then(x => document.querySelector("#server").innerHTML = `<pre>$${JSON.stringify(x,null,2)}</pre>` );
          }, 1500);
        ' > index.js
        npx -q esbuild index.js --bundle --serve=80

  echo:
    image: node:alpine
    command:
      - -e
      - |
        require("http").createServer((req,res) => {
          const {query, pathname, path} = require("url").parse(req.url, true);
          res.end(JSON.stringify({query,pathname,path,now: Date.now()}));
          return;
        }).listen(80);

  nginx:
    image: nginx:alpine
    ports:
      - '3000:80'
    entrypoint: /bin/sh
    command:
      - -c
      - |
        tee index.html <<EOF
          <h1>OHA</h1>
          <div id="server"></div>
          <div id="client"></div>
          <script src="index.js"></script>
        EOF

        tee hello.js <<EOF
        function world(r) {
          r.headersOut['content-type'] = 'application/json';
          r.return(200, JSON.stringify({timestamp: Date.now(), msg: 'Hello World from njs!', env: process.env}));
        }
        export default {world};
        EOF

        sed -i '/events {/i load_module modules/ngx_http_js_module.so;' /etc/nginx/nginx.conf
        sed -i '/http {/a \    js_import hello.js;' /etc/nginx/nginx.conf
        sed -i '/http {/a \    js_path /;' /etc/nginx/nginx.conf

        tee /etc/nginx/conf.d/default.conf <<EOF
          server {
            listen  80;

            location / {
              root   /;
              index  index.html;
            }

            location /index.js {
              proxy_pass http://app;
            }

            location /echo {
              proxy_pass http://echo;
            }

            location /hello {
              js_content hello.world;
            }

            location ~ /posts/(.*) {
              rewrite ^/posts(.*)$$ $$1 break;
              proxy_pass http://echo;
            }
          }
        EOF

        nginx -T && nginx -g 'daemon off;'
